@{
    ViewData["Title"] = "Anasayfa";
}
<h3 style="text-align: center;">
  <a href="http://umutonur.com/net-core-mvc-web-uygulamalarinda-redis-kullanimi/">http://umutonur.com/net-core-mvc-web-uygulamalarinda-redis-kullanimi/</a> yazısında anlatılan; ve ürünlerin listelendiği <b>.Net Core Mvc Web</b> uygulamasıdır. 
  <br /><br />
  Ürün stokları <b>Console</b> uygulamasından güncellenmektedir.
 </h3>
